.search-list {
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
}

.ant-table-wrapper {
  margin-top: 20px;
}

.c-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
