// 统一列表布局
.c-list {
  // todo 统一table布局
  .ant-table-wrapper {
    height: calc(100% - 120px);
  }

  .ant-spin-nested-loading, .ant-spin-container, .ant-table, .ant-table-content, .ant-table-scroll {
    height: 100%;
  }

  .ant-table-body {
    max-height: calc(100% - 72px) !important;
    overflow: auto;
  }
}
